asgiref==3.2.3
certifi==2019.9.11
chardet==3.0.4
Django==2.2.10
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-filter==2.2.0
djangorestframework-filters==0.11.1
glob3==0.0.1
gunicorn==20.0.4
idna==2.8
numpy==1.18.1
pandas==0.25.3
python-dateutil==2.8.1
python-gitlab==1.12.1
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.6
XlsxWriter==1.2.1