{% extends "game/base.html" %}
{% block content %} 
{% load crispy_forms_tags %}
<body>
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Selectionner les joueurs à ajouter dans l'équipe {{teams.name}}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Ajouter les joueurs</button> 
        </div>
      </form>
    </div>
</body>
{% endblock content %}