<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <h1 class="mt-2">Detail du tournoi !</h1>
            <hr class="mt-0 mb-4">              
          </div>
        </div>
      </div>
    <div>
      Nom du tournoi : {{ tournaments.name }}
    </div>
    <div>
      Description : {{ tournaments.description }}
    </div>
    <div>
      Date de création : {{ tournaments.date_created }}
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Classement des Equipes </h1>
        </div>
      </div>
    </div>
    <div>
      <a href="{% url 'team-create' object.id %}" class="btn btn-primary">Créer une equipe</a> 
      <a href="{% url 'tournament-delete' object.id %}" class="btn btn-dark">Supprimer le tournoi</a> 
    </div>
</body>
<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipe</th>
      <th scope="col">Score MPT</th>
      <th scope="col">Top 10</th>
      <th scope="col">Top 20</th>
      <th scope="col">Top 30</th>
      <th scope="col">Top 40</th>
      <th scope="col">Top 50</th>
      <th scope="col">Top 60</th>
      <th scope="col">Top 70</th>
      <th scope="col">Top 80</th>
      <th scope="col">Top 90</th>
      <th scope="col">Top 100</th>

      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in teams_mpt_score_set.items %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{key.name}}</td>
      <td>{{value}}</td>
      <td>{{key.player1}}</td>
      <td>{{key.player2}}</td>
      <td>{{key.player3}}</td>
      <td>{{key.player4}}</td>
      <td>{{key.player5}}</td>
      <td>{{key.player6}}</td>
      <td>{{key.player7}}</td>
      <td>{{key.player8}}</td>
      <td>{{key.player9}}</td>
      <td>{{key.player10}}</td>
      <td>
        <a href="{% url 'team-players' key.tournament.id key.id %}" class="btn btn-primary">Modifier les joueurs</a>
        <a href="{% url 'team-delete' key.tournament.id key.id %}" class="btn btn-dark">Supprimer l'équipe</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</html>