{% extends "game/base.html" %}
{% block content %} 
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <h1 class="mt-2">Tournoi {{ tournament.name }}</h1>
            <hr class="mt-0 mb-4">              
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Classement des Equipes </h1>
        </div>
      </div>
    </div>
    <div>
        <a href="{% url 'team-create' tournament.id %}" class="btn btn-primary">Créer une equipe</a> 
        <a href="{% url 'tournament-delete' tournament.id %}" class="btn btn-dark">Supprimer le tournoi</a> 
    </div>

</body>

  <form method="get">
      {{ filter.form }}
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipe</th>
      <th scope="col">Score MPT</th>
      <th scope="col">Top 10</th>
      <th scope="col">Top 20</th>
      <th scope="col">Top 30</th>
      <th scope="col">Top 40</th>
      <th scope="col">Top 50</th>
      <th scope="col">Top 60</th>
      <th scope="col">Top 70</th>
      <th scope="col">Top 80</th>
      <th scope="col">Top 90</th>
      <th scope="col">Top 100</th>

      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for team, mpt_score, ranks in teams_mpt_score_set %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{team.name}}</td>
      <td>{{mpt_score}}</td>
      <td>{{ranks.0}} {{team.player1.playerWithoutRank}}</td>
      <td>{{ranks.1}} {{team.player2.playerWithoutRank}}</td>
      <td>{{ranks.2}} {{team.player3.playerWithoutRank}}</td>
      <td>{{ranks.3}} {{team.player4.playerWithoutRank}}</td>
      <td>{{ranks.4}} {{team.player5.playerWithoutRank}}</td>
      <td>{{ranks.5}} {{team.player6.playerWithoutRank}}</td>
      <td>{{ranks.6}} {{team.player7.playerWithoutRank}}</td>
      <td>{{ranks.7}} {{team.player8.playerWithoutRank}}</td>
      <td>{{ranks.8}} {{team.player9.playerWithoutRank}}</td>
      <td>{{ranks.9}} {{team.player10.playerWithoutRank}}</td>
      <td>
        <a href="{% url 'team-players' team.tournament.id team.id %}" class="btn btn-primary">Modifier les joueurs</a>
        <a href="{% url 'team-delete' team.tournament.id team.id %}" class="btn btn-dark">Supprimer l'équipe</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}