{% extends "game/base.html" %}
{% block content %} 
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <div>
              <a class="card-title" href="{% url 'tournament-create' %}">Creer un tournoi</a>
            </div>
            <div>
                <h3>Tournois en cours : </h3>    
            </div>
                {% for tournoi in tournaments %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    
                        <a class="card-title" href="{% url 'tournament-detail' tournoi.id %}">{{ tournoi }}</a>
                    
                    </div>
                    <a href="{% url 'tournament-delete' tournoi.id %}" class="btn btn-primary">Delete</a>
                  </div>                
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
</body>
{% endblock %}